<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Skribble</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/editnote.css')}}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&wghts=100,200,300,400,500,600,700,800">
  </head>
  <body>

    <nav class="nav">
      <a href='/'>
        Skribble
      </a>
      <p class="nav__breadcrumb">
        /
      </p>
      <a href="/{{ notebook[1] }}">
        <p class="nav__breadcrumb">
          {{ notebook[2] }}
        </p>
      </a>
      <p class="nav__breadcrumb">
        /
      </p>
      <a href="/{{ notebook[1] }}?noteid={{ note[2] }}">
        <p class="nav__breadcrumb">
          {{ note[3] }}
        </p>
      </a>
    </nav>

    <section class="main-section">
      <div class="main-section__content">
        <p contenteditable="true" id="main-section__note">{{ note[4] }}</p>
      </div>
    </section>
    
    <script>
      const notebook_id = '{{ notebook_id }}';
      const note_id = '{{ note|tojson }}'.split(", ")[2].replaceAll('"', "");
        
      async function saveData() {
        const formData = new FormData();
        formData.append('notebook_id', notebook_id);
        formData.append('note_id', note_id);
        formData.append('note_content', document.getElementById("main-section__note").innerHTML);

        const req = await fetch('/notebooks/note/edit', {
          method: 'PUT',
          body: formData
        });
      };
      setInterval(saveData, 5000);
      </script>

  </body>
</html>
