<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Skribble</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/editnote.css')}}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&wghts=100,200,300,400,500,600,700,800">
  </head>
  <body>

    <nav class="nav">
      <a href='/'>
        Skribble
      </a>
      <p class="nav__breadcrumb">
        /
      </p>
      <a href="/{{ notebook[1] }}">
        <p class="nav__breadcrumb">
          {{ notebook[2] }}
        </p>
      </a>
      <p class="nav__breadcrumb">
        /
      </p>
      <a href="/{{ notebook[1] }}?noteid={{ note[2] }}">
        <p class="nav__breadcrumb">
          {{ note[3] }}
        </p>
      </a>
    </nav>

    <section class="main-section">
      <div class="main-section__content">
        <p contenteditable="true" id="main-section__note">{{ note[4] }}</p>
      </div>
    </section>
    
    <script>
      const notebook_id = '{{ notebook_id }}';
      const note_id = '{{ note }}'[2];


      // var debounce = function(func, wait, immediate) {
      //   var timeout;
      //   return function() {
      //     var context = this, args = arguments;
      //     var later = function() {
      //       timeout = null;
      //       if (!immediate) func.apply(context, args);
      //     };
      //     var callNow = immediate && !timeout;
      //     clearTimeout(timeout);
      //     timeout = setTimeout(later, wait || 200);
      //     if (callNow) func.apply(context, args);
      //   };
      // };

      update_note = function() {
        var data = {
          'notebookid': notebook_id,
          'noteid': note_id,
          'note_content': document.querySelector('#main-section__note').innerHTML
        };
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
          if (xhr.readyState === 4) {
            console.log(xhr.status);
            console.log(xhr.responseText);
          }
        };
        xhr.open('PUT', '/notebooks/note/edit', true);
        xhr.setRequestHeader('Content-Type', 'multipart/form-data');
        xhr.send(data);
      };
      setInterval(update_note, 20000);
      </script>

  </body>
</html>
