<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Skribble</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&wghts=100,200,300,400,500,600,700,800">
  </head>
  <body>

    <nav class="nav">
      Skribble
    </nav>
    <section class="main-section">
      <div class="main-section__header">
        <h2 class="main-section__header__title">My Notebooks</h2>
        <p class="main-section__header__count">{{length}} Notebooks</p>
      </div>
      <div>
        <button data-modal="new-notebook-modal" class="new-notebook-button">
          <p>Create New Notebook</p>
          <svg width="20" height="20" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.5834 14.0833H14.0834V20.5833H11.9167V14.0833H5.41675V11.9167H11.9167V5.41667H14.0834V11.9167H20.5834V14.0833Z" fill="#245AE4"/>
          </svg>
        </button>

        {% for notebook in notebooks %}
          <a href="{{ '/%s'%notebook[1] }}">
            <div class="card">
              <div class="card__leading">
                <div class="card__leading__icon">
                  {{ notebook[2].0 }}
                </div>
                <span class="card__leading__name">{{ notebook[2] }}</span>
              </div>
              <div>
                <form action="/notebooks/delete" method="POST">
                  <input type="hidden" name="notebook_id" value="{{ notebook[1] }}"/>
                  <button type="submit" style="background: transparent; outline: none; border: none; cursor: pointer;">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15.8334 3.33333H12.9167L12.0834 2.5H7.91675L7.08341 3.33333H4.16675V5H15.8334M5.00008 15.8333C5.00008 16.2754 5.17568 16.6993 5.48824 17.0118C5.8008 17.3244 6.22472 17.5 6.66675 17.5H13.3334C13.7754 17.5 14.1994 17.3244 14.5119 17.0118C14.8245 16.6993 15.0001 16.2754 15.0001 15.8333V5.83333H5.00008V15.8333Z" fill="#CF0303"/>
                    </svg> 
                  </button>
                </form>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </section>

    <div class="modal" id="new-notebook-modal">
      <div class="modal__bg modal__exit"></div>
      <div class="modal__content">
        <div class="modal__content__header">
          <h2 class="modal__content__header__title">Create New Notebook</h2>
        </div>
        <div class="modal__content__body">
          <form action="/notebooks" method="POST">
            <input autofocus="true" class="modal__content__body__input" type="text" name="notebook_name" id="notebook_name_input" placeholder="Name" required>
            <button class="modal__content__body__submit" type="submit">Create</button>
          </form>
        </div>
      </div>
    </div>

    <script>
      const modals = document.querySelectorAll('[data-modal]')

      modals.forEach((trigger) => {
        trigger.addEventListener('click', (e) => {
          e.preventDefault();

          const modal = document.getElementById(trigger.dataset.modal)
          modal.classList.add('open')
          const input = document.getElementById('notebook_name_input')
          console.log(input)
          input.setAttribute('tabindex', '0')
          input.focus()

          const exits = modal.querySelectorAll('.modal__exit')
          exits.forEach(exit => {
            exit.addEventListener('click', e => {
              e.preventDefault();
              modal.classList.remove('open')
            })
          })
        })
      })
    </script>
  </body>
</html>
