<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Skribble</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/notes.css')}}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&wghts=100,200,300,400,500,600,700,800">
  </head>
  <body>

    <nav class="nav">
      Skribble
    </nav>

    <section class="main-section">
      <p>{{ notebook[2] }}</p>

      {% for note in notes %}
        <p>
          <a href="/{{ notebook_id }}/{{ note[0] }}">{{ note[1] }}</a>
        </p>
      {% endfor %}
    </section>

    <!-- <section class="main-section">
      <div class="main-section__header">
        <h2 class="main-section__header__title">My Notebooks</h2>
        <p class="main-section__header__count">{{length}} Notebooks</p>
      </div>
      <div>
        <button data-modal="new-page-modal">Create New Note</button>
      </div>
    </section>

    <div class="modal" id="new-page-modal">
      <div class="modal__bg modal__exit"></div>
      <div class="modal__content">
        <div class="modal__content__header">
          <h2 class="modal__content__header__title">Create New Note</h2>
        </div>
        <div class="modal__content__body">
          <form action="/notebooks" method="POST">
            <input class="modal__content__body__input" type="text" name="notebook_name" id="notebook_name" placeholder="Name" required>
            <button class="modal__content__body__submit" type="submit">Create</button>
          </form>
        </div>
      </div>
    </div>

    <script>
      const modals = document.querySelectorAll('[data-modal]')

      modals.forEach((trigger) => {
        trigger.addEventListener('click', (e) => {
          e.preventDefault();

          console.log('click')
          const modal = document.getElementById(trigger.dataset.modal)
          console.log(modal)
          modal.classList.add('open')

          const exits = modal.querySelectorAll('.modal__exit')
          exits.forEach(exit => {
            exit.addEventListener('click', e => {
              e.preventDefault();
              modal.classList.remove('open')
            })
          })
        })
      })
    </script>
  </body>
</html>
